@model IEnumerable<KategoriModel>
@{
    ViewData["Title"] = "Kategori Listesi";

}

<h1 class="text-center m-4">@ViewData["Title"]</h1>


<div class="row">
    <div class="col-11 m-4">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>
        }

        <a href="/Kategori/AddView" class="btn btn-primary mb-2">Kategori Ekle</a>
        <table class="table" id="kategoriler">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adı</th>
                    <th scope="col">Açıklaması</th>
                    <th scope="col">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kategori in Model)
                {
                    <tr>
                        <td>@kategori.Id</td>
                        <td>@kategori.Adi</td>
                        <td>@kategori.Aciklamasi</td>
                        <td>
                            @*<button type="button" class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@urun.Id">Düzenle</button>*@
                            <a asp-action="EditView" asp-route-id="@kategori.Id">Düzenle</a>
                            |
                            <a asp-action="Detail" asp-route-id="@kategori.Id">Detay</a>
                            |
                            <a asp-action="Delete" asp-route-id="@kategori.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
<link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

<script>
        $( document ).ready(function() {
            console.log("asdasd");
      $(function() {
            $('#kategoriler').DataTable({
                language: {
                    // Eğer kullanılan metinsel bir dosyada Türkçe karakter sorunu varsa
                    // dosya Notepad ile açılıp kodlama (encoding) UTF-8'e değiştirilerek kaydedilmelidir.
                    url: "/json/datatablesTurkish.json"
                }
            });
        });
    });


</script>

}




